name: Build and push docker image

on:
  workflow_dispatch:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true
jobs:
  build-and-push-image:
    if: false  # Disabled to save CI resources on dev/gpu_example branch
    runs-on: ubuntu-latest
    # steps to perform in job
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: "recursive"

      # setup Docker buld action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Github Packages
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build docker
        run: |
          docker build .

      - name: Build image and push to GitHub Container Registry
        uses: docker/build-push-action@v2
        if: "github.repository_owner == 'eunomia-bpf' && !startsWith(github.ref, 'refs/pull/')"
        with:
          # relative path to the place where source code with Dockerfile is located
          context: ./
          file: Dockerfile
          platforms: linux/amd64
          # Note: tags has to be all lower-case
          tags: |
            ghcr.io/${{ github.repository_owner }}/bpftime:latest
          push: true

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
